footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204);
    font-size: 12px;
}
footer > ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer > span {
    font-size: 12px;
}